<h1>Make your pirate here!</h1>

<form method="POST" action="/pirates">
  <h2>Pirate Information:</h2>
  <p>Name: <input type="text" name="pirate[name]"></p>
  <p>Height: <input type="text" name="pirate[height]"></p>
  <p>Weight: <input type="text" name="pirate[weight]"></p>
  
  <h2>Ship Information:</h2>
  <p>Ship #1 Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>Ship #1 Type: <input type="text" name="pirate[ships][][type]"></p>
  
  
  
  
  
  
  
  <input type="submit" id="Submit">
</form>
